{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}
<div class="col-8 offset-2 mt-5">
    <h1 class="text-center">Set a new password!</h1>
    <div class="card p-2">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
                <input type="submit" class="btn btn-primary" value="Change My Password">
            </div>
        </form>
    </div>
</div>

{% else %}
<div class="col-8 offset-2 mt-5">
    <div class="text-center p-2">
        <h1>Reset Link Invalid!</h1>
        <p class="my-3">The password reset link was invalid, possibly because it has already been used.</p>
        <strong>Please request a new password reset.</strong>
    </div>
</div>


{% endif %}
{% endblock %}