{% extends 'base.html' %}
{% block content %}
    <div class="text-center p-3">
        <h2 class="text-center">Create a new todo!</h2>
        <a href="/" class="btn btn-secondary">Go Back</a>
    </div>
    <div class="col-4 offset-4 p-2 text-center">
        <form method="POST">
            {% csrf_token %}
            <!-- Could use {{ form }} to populate and format form -->
            {{ form.as_p }}
            <button class="btn btn-primary text-center" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}